
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="text-center">
                    <h1>STORE HELPDESK APP</h1><br>
                    <h5>User Name: {{name}}</h5>
                    <h5>Access Level: {{accessLevel}}</h5><br>
                    <p>Press "Next" to know more about Store Details<p>
                    <button type="button" class="btn btn-primary " style="cursor: pointer;" (click)="SearchC()">Next</button>

                </div>
            </div>
        </div>
    </div>
</div>

