.sign {
  /* padding-top: 9px; */
  color: #01396b;
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
 }

 /* body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/*
.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
} */

.btn{
  background-color: #3613d2;
padding: auto;
}


.text-danger {
  text-align: left;
  padding-left: 10px;
}
